// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  width: 100%;
  padding-left: 0px;
}
h1 {
  color: #4F97D6;
}
.letter-box {
  background-color: #4F97D6;
  box-shadow: 1px 1px 2px rgba(100,100,100,0.9);
  border-radius: 3px;
  color: rgb(255,255,255);
  font-weight: bold;
  padding: 5px 10px;
}
.btn-primary {
  margin-top: 10px;
  background-color: #57a3e5 !important;
  border: none !important;
  color: #FFF;
  border-radius: 3px;
  &:hover {
    background-color: #4F97D6 !important;
  }
}
.input-box {
  border-radius: 3px;
}
#game-title {
  color: #4F97D6;
}
